body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	background-color: #C0C0C0;
}

.topbar {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin:0;
  margin-bottom: 20px;
  border: 1px solid transparent;
  width:100%;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04519b), color-stop(60%, #044687), to(#033769));
  background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
  background-image: -moz-linear-gradient(top, #04519b, #044687 60%, #033769);
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  background-repeat: no-repeat;
  border-bottom: 1px solid #022241;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
  filter: none;
}

.topbar_header {

  float: left;
	height: 50px;
	overflow:auto;
}