@charset "utf-8";
/* CSS Document */

.link10 { stroke: #ccc; stroke-width: 2px; stroke-dasharray: 3, 3; }
.link1 { stroke: #00f; stroke-width: 2px;}
.nodetext { pointer-events: none;}

.node.type1 {
  fill:#85B7E5;
}
.node.type2 {
  fill:#85B7E5;
}
.node.type3 {
  fill:#85B7E5;
}
.node.type4 {
  fill:#FFFFFF;
  stroke:#85B7E5; 
  stroke-width: 3px;
  display:none;
}

.node.type5 {
	fill:#85B7E5;
}

.node.type6 {
	fill:#85B7E5;
}

image.circle {
	cursor:pointer;
}

.fadein{
display:none;
font-size:20px;
}

.rectD{
background-color:#85B7E5;
width:70px;
height:30px
}

.rectL{
background-color:#000000;
width:90px;
height:30px
}